.splash-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  width: 100%;
  background-color: #000000;
}

.logo {
  width: 200px;
  height: auto;
}

.text-style {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-family: 'Public Sans', sans-serif;
  color: #444444;
  font-weight: 400;
}