.chat-user-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-inline-start: 20px;
  padding-inline-end: px;
  padding-top: 16px;
  padding-bottom: 16px; */
  padding: 10px;
}

.chat-user-item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 7vh;
}

.profile-pic {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.user-details {
  margin-left: 10px;
  width: 90%;
  display: "flex";
  justify-content: "space-between";
  height: 3vh;
  flex-direction: row;
}

.user-details-container {
  width: 100%;
  padding: 7px;
}

.user-details-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3vh;
}

.user-name {
  font-weight: 500px;
  max-lines: 1;
  margin: 0;
  color: var(--white-color);
  font-family: "Public Sans";
  font-size: 14px;
}

.image-container-message {
  position: relative;
  border-radius: 60%;
  width: 10%;
  height: 60%;
}

.header-container-message {
  display: flex;
  align-items: center;
  width: 100%;
}

.status-dot-message {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.user-last-message {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90%;
  font-family: "Public Sans";
  font-size: 14px;
  color: #637381;
  justify-content: space-around;
}

.status-dot-chat.green {
  background-color: green;
}

.status-dot-chat.red {
  background-color: red;
}

.status-dot-chat {
  position: absolute;
  top: 96%;
  left: 95%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.green-circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: green;
}
.unread-number-of-messages {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  font-family: "Public Sans";
}

.minutes-ago {
  margin: 0;
  font-size: 12px;
  color: #919eab;
  font-family: "Public Sans";
  font-weight: 500;
}

.message-icon {
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
}

.main-message-container {
  height: 7%;
  background-color: var(--theme-color);
  display: flex;
}

.main-box-container {
  height: 70px;
  width: 170px;
}

.main-box {
  border-radius: 10px;
  background-color: #f0f0f0;
  height: 4vh;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.box-text {
  color: var(--theme-color);
  font-family: "Public Sans";
  font-weight: 600;
  font-size: 14px;
}

.report-box {
  border-radius: 10px;
  height: 4vh;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.header-message-screen {
  width: 80%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-self: center;
}

.header-name-text {
  color: var(--white-color);
  padding-left: 10px;
  display: flex;
  font-size: 16px;
  font-family: "Public Sanse";
  font-weight: bold;
  align-items: flex-end;
  width: 80%;
}

.chat-loader-style {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.add-attachment {
  display: flex;
  justify-content: center;
}
