/* styles.css */
.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #000000;
}

.otp-container {
  height: 15%;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-container {
  align-items: flex-start;
  flex-direction: column;
  display: flex;
  padding-inline-start: 20px;
  padding-top: 30px;
  height: 10%;
}

.text-container {
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-inline-start: 30px;
  font-size: 48px;
  color: #ffffff;
  font-family: "Public Sans";
  font-weight: bold;
  margin: 0;
}

.otp-text-container {
  height: 70%;
  width: 90%;
  flex-direction: column;
  justify-content: center;
  display: flex
}

.otp-input {
  height: 100%;
  width: 70%;
  font-size: 18px;
  margin: 10px 0;
}

.button-container {
  height: 20%;
  display: flex;
  width: 82%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.verify-button {
  width: 100%;
  height: 40px;
  margin-top: 70px;
}

.resend-text {
  margin-top: 10px;
  font-size: 14px;
}

.recaptcha-container {
  justify-content: center;
  align-items: center;
}

.login-image-container {
  height: 100%;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 10px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
  justify-content: center;
  background-color: #000000;
}

.loading-indicator {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}

.detail-text {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 24px;
  font-family: "Public Sans";
  font-weight: bold;
  color: #ffffff;
  height: 5%;
  padding-inline-start: 20px;
}
.buttonContainer {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

.footer {
  margin-top: 20px;
  text-align: center;
  font-size: 12px;
  height: 10%;
  font-size: 12px;
  font-weight: 400;
  font-family: "Public Sans";
  color: #444444;
}

.image-upload-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 40%;
  justify-content: "flex-start";
  background-color: "#FFFFFF";
}

.overlay-text {
  font-size: 12px;
  font-weight: 400;
  font-family: "Public Sans";
  color: #ffffff;
  margin-top: 2px;
}

.form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 35%;
}

.main-label {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 70%;
  border-radius: 50%;
}

.dot-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 55%;
  height: 60%;
  border: 2px dashed #666;
  border-color: #2f2f2f;
}

.edit-button{
  position: absolute;
}

.input-style {
  display: none;
  background-color: #ffffff;
}

.circular-image-select {
  position: absolute;
  background-color: #1a1a1a;
  border-radius: 50%;
  width: 45%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.selection-text {
  color: #a8a8a8;
  align-self: flex-end;
  text-align: center;
  font-size: 12px;
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
}

.circular-progress-style {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 80%;
  height: 80%;
  border: 2px dashed #666;
  border-color: #2f2f2f;
}

.main-otp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #000000;
}

.text-conatiner {
  height: 70%;
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-style-main {
  font-family: "Public Sans";
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}

.small-text-style {
  font-family: "Public Sans";
  color: #a8a8a8;
  font-weight: 400px;
  font-size: 14px;
}

.otp-input-container {
  height: 10%;
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}

.verify-button-container {
  display: flex;
  width: 100%;
  height: 15%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.resend-button-style {
  cursor: pointer;
  border: none;
  background-color: transparent;
  margin-top: 10px;
  font-size: 14px;
  text-decoration: underline;
}

.resend-text {
  color: #666666;
  font-weight: 500px;
  font-size: 16px;
  font-family: "Public Sans";
}