
.connection-user-item {
  display: flex;
  align-items: center;
  padding: 12px;
}

.image-container {
  position: relative;
  width: 45px;
  height: 45px;
  border-radius: 60%;
}

.userdetails {
  width: 80%;
  padding-inline-start: 3%;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  font-family: "Public Sans";
  max-lines: 1;
}

.statusdot {
  position: absolute;
  top: 85%;
  left: 85%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.withdraw-button {
  border: none;
  background-color: #1a1a1a;
  color: #ffffff;
  font-weight: 700px;
  cursor: pointer;
  font-size: 12px;
  height: 3vh;
  width: 10vh;
  border-radius: 8px;
  font-family: "Public Sans";
}

.btn-container {
  width:16%;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.icon {
  background-color: #FFFFFF;
  border-radius: 6px;
}

.close-icon .icon {
  border-radius: 60%;
}

.icon-text {
  color: #FFFFFF;
}

.css-ptiqhd-MuiSvgIcon-root {
  height: 10vh;
}
