
.image-container {
  position: relative;
  width: 13%;
  border-radius: 60%;
}

.withdraw-button {
  border: none;
  background-color: #1a1a1a;
  color: var(--white-color);
  font-weight: 700px;
  cursor: pointer;
  font-size: 12px;
  height: 3vh;
  width: 10vh;
  border-radius: 8px;
  font-family: "Public Sans";
}

.btn-container {
  width:12%;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.icon {
  background-color: var(--white-color);
  border-radius: 6px;
}

.close-icon .icon {
  border-radius: 60%;
}

.icon-text {
  color: var(--white-color);
}

.css-ptiqhd-MuiSvgIcon-root {
  height: 10vh;
}
