.header {
    background-color: #000000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    height: '10%';
  }

  .left-section {
    display: flex;
    align-items: center;
  }
  
  .right-section {
    display: flex;
    align-items: center;
  }