.header {
  background-color: var(--theme-color);
  color: #fff;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  height: 7%;
  width: 100%;
  z-index: 1000;
}

.left-section {
  display: flex;
  align-items: center;
}

.header-text {
  padding-left: 15px;
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
}

.logo {
  width: 25%;
  height: 23%;
  padding-top: 3%;
  padding-inline-start: 5%;
}

.right-section {
  display: flex;
  align-items: center;
}
