.profile-picture {
  max-height: 20%;
  max-width: 7vh;
  border-radius: 50%;
  width: "auto";
  height: "30vh";
  object-fit: "cover";
}

.details {
  width: 100%;
  margin: 0;
  height: auto;
  padding-inline-start: 10px;
  width: 74%;
}

.iconforward {
  width: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
    background-color: #000000;
}

.additional-settings {
  width: "100%";
  display: "flex";
  flex-direction: "column";
  height: 80%;
  background-color: #000000;
}

.detail-account-settings{
  width: "100%";
  display: "flex";
  flex-direction: "column";
  height: 100%;
  background-color: #000000;
}

.account-settings,
.blocked-users,
.help {
  display: flex;
  align-items: center;
  padding: 10px;
}

.account-settings p,
.blocked-users p,
.help p {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.settings-icon,
.block-icon,
.help-icon {
  padding: 10px;
}

.loading-indicator {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}

/* Blocked User Css*/

.blocked-user-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.block-user-container {
  background-color: #000000;
  height: 100%;
  display: "flex";
  flex-direction: "column";
}

.blocked-user-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  position: relative;
}

.profile-pic-container {
  position: relative;
  width: 90px;
  height: 6vh;
  border-radius: 50%;
  overflow: hidden;
}

.profile-pic {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.user-details {
  margin-left: 10px;
  width: 90%;
  justify-content: center;
}

.user-name {
  margin: 0;
  font-weight: bold;
  max-lines: 1;
}

.unblock-button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #1f1f1f;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.status-dot {
  position: absolute;
  top: 78%;
  left: 80%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.status-dot.green {
  background-color: green;
}

.status-dot.red {
  background-color: red;
}

/* Profile Detail Screen Css*/

.image-container-profile-detail {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #000000;
}

.image-wrapper {
  height: 50vh;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
}

.image-overlay {
  position: relative;
  display: inline-block;
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20%;
}
.overlay-image {
  width: 100%;
  height: auto;
  color: #ffffff;
  padding-inline-start: 25px;
}
.overlay-text {
  font-size: 12px;
  font-weight: 400;
  font-family: "Public Sans";
  color: #ffffff;
  margin-top: 2px;
}

.image-placeholder {
  width: 100%;
  height: 100%;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textBox-container {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  align-items: center;
  justify-content: center;
}

.login-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  width: 100%;
}

.block-text {
  color: #666666;
  font-family: "Public Sans";
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
